[Unit]
Description=ELN SMW Adapter
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/eln-smw-adapter
ExecStart=/opt/eln-smw-adapter/venv/bin/gunicorn --workers 1 --threads 8 --timeout 300 --bind 127.0.0.1:5000 app:app
Restart=on-failure
RestartSec=1
Environment="PATH=/opt/eln-smw-adapter/venv/bin/"

[Install]
WantedBy=multi-user.target